.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #fff;
}

.navbar-brand img {
  width: 100px;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
}
